<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124637625336-eg7062tf1b7k97tskb6ln05er541cltf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124637625336-eg7062tf1b7k97tskb6ln05er541cltf</string>
	<key>API_KEY</key>
	<string>AIzaSyC82CoDzf8J-BOgOz-6vRaHzzZo32GzlNM</string>
	<key>GCM_SENDER_ID</key>
	<string>124637625336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hgunes.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-906cb</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-906cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124637625336:ios:75db87972433f448e1740d</string>
</dict>
</plist>